<tr>
    <td> {{date}} </td>
    <td> {{weight}}   </td><td> {{chest}} </td><td> {{thigh}} </td>
    <td> {{upperarm}} </td><td> {{waist}} </td><td> {{hips}}  </td>
    <td>
<!--        {{#if trend}}-->
<!--            <i class="arrow down icon green big"></i>-->
<!--        {{else}}-->
<!--            <i class="arrow up icon red big"></i>-->
<!--        {{/if}}-->
        {{{ checkAssessmentStatus trend}}}
    </td>
    <td> {{comment}} </td>
</tr>