<tr>
    <td> {{ date }} </td>
    <td> {{ weight }} </td>
    <td> {{{ checkGoalStatus status }}} </td>
    <td>
        <a href="/deletegoal/{{memberid}}/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
        </a>
    </td>
</tr>